<nav class="bottom-nav">
    <a href="{{ '/' | relative_url }}" class="bnav-item active">
        <i class="fa-solid fa-house"></i>
        <span class="bnav-label">Home</span>
    </a>
    <a href="{{ '/articles.html' | relative_url }}" class="bnav-item">
        <i class="fa-solid fa-newspaper"></i>
        <span class="bnav-label">Articles</span>
    </a>
    <a href="{{ '/news.html' | relative_url }}" class="bnav-item">
        <i class="fa-solid fa-wifi"></i>
        <span class="bnav-label">News</span>
    </a>
    <a href="{{ '/about.html' | relative_url }}" class="bnav-item">
        <i class="fa-solid fa-user"></i>
        <span class="bnav-label">About</span>
    </a>
</nav>
