<footer>
    <div class="ftr-brand">Zeher <span>Hassan</span></div>
    <div class="ftr-rule"></div>
    <div class="ftr-bottom">
        <div class="ftr-copy">&copy; 2026 Zeher Hassan. All rights reserved.</div>
        <div class="ftr-links">
            <a href="{{ '/about.html' | relative_url }}" class="ftr-lnk">About Us</a>
            <a href="{{ '/contact.html' | relative_url }}" class="ftr-lnk">Contact Us</a>
            <a href="{{ '/privacy-policy.html' | relative_url }}" class="ftr-lnk">Privacy</a>
        </div>
    </div>
</footer>
